body {
	padding: 1em;
	margin: auto auto;
	/*max-width: 2500px;*/
}

section {
	display: block;
	background: #f6f6f6;
	padding: 3px;
	position: relative;
	margin: 3px;
}
section.changed {
	background: aliceblue;
}

div.position-container {
	position: relative;
}

button {
	border-width: 1px;
	border-color: #ec0000;
}

h1, h2, h3 {
	text-align: center;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

h1, legend {
	text-decoration: underline;
	text-decoration-color: #ec0000;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	caption-side: top;
	font-size: 1.8em;
	text-align: center;
	color: #868e96;
	font-weight: 400;
}

nav {
	font-size: 1.2em;
}

table, tr, th, td {	
	border: solid black 1px;
	border-collapse: collapse;
	caption-side: top;
}

caption {
	caption-side: top;
	font-size: 1.8em;
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;
}

/*same as actual Bootstrap links; throw out after implementing react routers*/
.close-icon {
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
}


/*OLD*/

tfoot {
	font-weight: bold;
}

.form-container {
	position: relative
}

hr {
	margin: 0;
}

/*HOME*/

#home main {
	display: grid;
	grid-template-columns: 50% 50%;
}

/*SOURCE*/

.import-button {
	width: 100%;
	padding: 1em;
}

form#import-compounds {
	border: 1px solid black;
	padding: 1em;
	margin: 0.5em;
}

#source main {
	padding: 1em;
	width: 100%;
	margin-top: 20px;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: max-content auto;
}

/*CRYSTALS*/

input {
	padding: 0.5em;
}

img {
	padding: 0;
}

img.show-pic {
	right:0
}


.infobox{
	display: none;
	grid-template-columns: 60% 35%;
	grid-gap: 5px;
}

#crystal-info {
	border: solid black;
}

.right {
	text-align: right;
}

.hidden {
	display: none;
}

button[type=submit]{
	grid-column: 1/-1;
	width: 100%;
}

/********************************/
/*to accomodate buttons*/
#table th{
	position: relative;
	padding-bottom: 2em;
}

#table thead th{
    position: webkit-sticky;
	position: sticky;
	background: white;
	top: 0;
	padding-bottom: 2em;
}

.row-no {
	width: 3em;
}

button.in-table {
	width: 98%;
	padding: 1px;
	margin: 2px;
	font-size: 0.8em;
	position: absolute;
	bottom:0;
	left:0;
}

.hidden {
	display: none;
}

button.small-button {
	width: 100%;
	padding: 1px;
	margin: 1px;
	font-size: 0.8em;
}
 .old-uploads {
	font-size: 0.8em;
 }

#other-plates {
	font-size: 0.8em;
}
